body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1520px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1520px;
  display:flex;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:354px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1166px;
  width:377px;
  height:354px;
  display:flex;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:61px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1166px;
  width:377px;
  height:61px;
  display:flex;
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:-webkit-linear-gradient(0.542900171556028deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  background:-moz-linear-gradient(89.457099828444deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  background:linear-gradient(89.457099828444deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1188px;
  width:59px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u1416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:61px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1166px;
  width:377px;
  height:61px;
  display:flex;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:899px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:377px;
  height:899px;
  display:flex;
}
#u1418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-right:0px;
  border-radius:23px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:82px;
  width:48px;
  height:27px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u1419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:-webkit-linear-gradient(0.542900171556028deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  background:-moz-linear-gradient(89.457099828444deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  background:linear-gradient(89.457099828444deg, rgba(240, 55, 43, 1) -1%, rgba(243, 100, 44, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1188px;
  width:59px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u1420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
